body { 
  background: url(media/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

 .navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}
.nav-link {
	color:white;
	font-size:2em;
	   -webkit-text-stroke-width: .3px;
   -webkit-text-stroke-color: #fd00fc;
}

.navbar-nav li{
		padding-right:100px;

		padding-left:100px;
}
.nav-link:hover {
	color:#d713d6;
}
@keyframes glowing {
  0% { box-shadow: 0 0 -10px #FF00FF; }
  40% { box-shadow: 0 0 20px #FF00FF; }
  60% { box-shadow: 0 0 20px #FF00FF; }
  100% { box-shadow: 0 0 -10px #FF00FF; }
}



#container {
	height:100%;
 border-radius: 5px;
animation: glowing 5000ms infinite;
	background-color:#F8F8FF;
	width:1200px;
}

.social-media img{
margin-left:10px;
	width:50px;
}

.footer {

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(182, 29, 142, 0.51);
  color: white;
  text-align: center;
}

.footer img {
	width:50px;
	padding-bottom:10px;

}